.container-edit-product {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 30px;
    justify-items: center;
    border: 1px solid #000;
    width: 850px;
    border-radius: 3px;
    margin-left: 25%;
}

.upload-image {
    margin-top: 20px;
}

.input-edit-product {
  width: 800px;
  margin-top: 20px;
}

.button-update-product {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
}

.messamge-update-product {
    background-color: #0e2b50;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.back {
    display: flex;
    width: 90px;
    height: 35px;
    margin-top: 10px;
    /* padding-bottom: 30px; */
    background-color: #25242a;
    border-radius: 4px;
    margin-left: 30px;
}

.back-string {
    margin-top: 5px;
    color: white;
    margin-left: 15px;
}

.back-icon-react {
    cursor: pointer;
    margin-top: 4px;
    margin-left: 5px;
}