.search-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

.search-products-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.product-search {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: white;
    margin-bottom: 20px;
}

.product {
    background-color: whitesmoke;
} 

.product-image {
    width: 200px;
    height: 200px;
}

.image-div {
    margin-top: 10px;
}

.price {
    color: rgb(170, 17, 17);
}

.words-search {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 15px;
    height: 300px;
    overflow: auto;
}

.image-div-search {
    margin-left: 30px;
    margin-top: 15px;
}