.image-product {
    max-width: 100px;
    max-height: 100px;
}

table {
    width: 1300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    text-align: center;
    background-color: #2e517d;
    color: white;
}

table, th, td {
    border: 1px solid #000;
}

.icon-delete:hover {
    cursor: pointer;
    color: orangered;
}

.create-product {
    color: white;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000000;
    padding: 3px;
    border-radius: 3px;
}

.edit-icon{
    cursor: pointer;
}