body {
    margin: 0;
}

.background {
    background-repeat: no-repeat;
    margin-left: 800px;
    /* margin-right: 400px; */
    border-color: white;
    background-color: white;
    border-radius: 4px;
    padding-left: 200px;
    padding-right: 200px;
}

.backgroundd {
    padding-left: 200px;
}

.rigester-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -40px);
    width: 500px;
   margin-top: 20px;
}

.sign-up {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    color: black;
    background-color: #25242a;
    border-radius: 6px;
    padding: 10px;
   /* margin-left: 200px; */
}

.websiteName {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.p-sign-up {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.rigester-form {
    display: grid;
    grid-template-rows: (9,auto);
    margin: 10px;
}

.input {
    margin-bottom: 5px;
    width: 250px;
}

.button-register {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.messamge-register {
    background-color: rgb(255, 46, 46);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}