.conteainer-main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px;
    /* width: 1000px; */
}

.products {
    border: 1px solid rgb(234, 230, 230);
    /* border-radius: 8px; */
    background-color: white;
    height: 220px;
}

.product-imagee {
    width: 180px;
    height: 150px;
    cursor: pointer;
}

.image-div {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.addToCart {
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
    color: #ffffff;
}

.filter-div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: 20px;
    border-left: 4px solid #25242a;
    border-right: 4px solid #25242a;
    height: 800px;
    /* padding-left: 1px; */
    width: 400px;
}

.filter-link {
    text-decoration: none;
    font-weight: 600;
    border: 1px solid  rgb(234, 230, 230);
    width: 360px;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    /* color: rgb(0, 0, 0); */
    border-radius: 4px;
}

.filter-product-price-from-to {
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.filter-input {
    width: 100px;
    border-radius: 2px;
    border: none;
}

.filter-button {
    width: 80px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: row wrap;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: #25242a;
}

.footer > * {
    flex: 1 100%;
}

.left-area {
    margin-right: -7.5px;
}

.footer-buttom img {
    width: 15%
}

h2 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 1.25;
}

.footer a {
    text-decoration: none;
}

.right-area {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: row wrap;
}

.right-area > * {
    flex: 1 50%;
    margin-right: 1px;
}

.box a {
    color: rgb(146, 140, 140);
}

.footer-buttom {
    text-align: center;
    color: rgb(146, 140, 140);
    padding-top: 50px;
}

.left-area p {
    padding-right: 20%;
    color: rgb(146, 140, 140);
}

.socials {
    margin-top: 1.5px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

.btnn {
    border: none;
    background-color: rgb(255, 255, 255);
    color: #020000;
    padding: 4px 30px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-box input {
    height: 31px;
}

.web {
    color: #ffffff;
}

h2 {
    margin-top: 20px;
}

.brand-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-top: 3px solid #25242a;
    border-bottom: 2px solid #25242a; */
    margin-left: 10px;
    margin-right: 10px;
}

.brand-div1 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.brand-div2 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 12px;
}

.image-brand {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 90px;
}

.categories-div-link {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    height: 60px;
    background-color: #25242ab4;
}

.categories-links {
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #25242ab4;
    border-radius: 2px;
    padding-top: 1px;
    color: white;
}