.conteainer-main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px;
    /* width: 1000px; */
}

.products {
    border: 1px solid #fcfcfc;
    /* border-radius: 8px; */
    background-color: white;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);

}

.product-imagee {
    width: 180px;
    height: 150px;
}

.image-div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.addToCart {
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
    color: #ffffff;
}

.filter-div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: 100px;
}

.filter-link {
    text-decoration: none;
    font-weight: 600;
}